/* ==========================================================================
   Capital Framework
   Icons
   ========================================================================== */
/* topdoc
    name: LESS Variables
    family: cf-icons
    patterns:
    - name: CSS Prefix
      codenotes:
        - "@cf-css-prefix: cf-icon;"
    tags:
    - cf-icons
*/
@font-face {
  font-family: 'CFPB Minicons';
  src: url("../fonts/cf-icons.eot");
  src: url("../fonts/cf-icons.eot?#iefix") format('embedded-opentype'), url("../fonts/cf-icons.woff") format('woff'), url("../fonts/cf-icons.ttf") format('truetype'), url("../fonts/cf-icons.svg") format('svg');
  font-weight: normal;
  font-style: normal;
}
/* topdoc
    name: Icon Class
    family: cf-icons
    patterns:
    - name: Use of Icon Class
      notes:
        - "The cf-css-prefix class applies the font family to an element."
    tags:
    - cf-icons
*/
.cf-icon {
  font-family: 'CFPB Minicons';
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
/* topdoc
    name: Navigation Icons
    family: cf-icons
    patterns:
    - name: left
      markup: |
        <i class="cf-icon cf-icon-left"></i>
    - name: left-round
      markup: |
        <i class="cf-icon cf-icon-left-round"></i>
    - name: right
      markup: |
        <i class="cf-icon cf-icon-right"></i>
    - name: right-round
      markup: |
        <i class="cf-icon cf-icon-right-round"></i>
    - name: up
      markup: |
        <i class="cf-icon cf-icon-up"></i>
    - name: up-round
      markup: |
        <i class="cf-icon cf-icon-up-round"></i>
    - name: down
      markup: |
        <i class="cf-icon cf-icon-down"></i>
    - name: down-round
      markup: |
        <i class="cf-icon cf-icon-down-round"></i>
    - name: arrow-left
      markup: |
        <i class="cf-icon cf-icon-arrow-left"></i>
    - name: arrow-left-round
      markup: |
        <i class="cf-icon cf-icon-arrow-left-round"></i>
    - name: arrow-right
      markup: |
        <i class="cf-icon cf-icon-arrow-right"></i>
    - name: arrow-right-round
      markup: |
        <i class="cf-icon cf-icon-arrow-right-round"></i>
    - name: arrow-up
      markup: |
        <i class="cf-icon cf-icon-arrow-up"></i>
    - name: arrow-up-round
      markup: |
        <i class="cf-icon cf-icon-arrow-up-round"></i>
    - name: arrow-down
      markup: |
        <i class="cf-icon cf-icon-arrow-down"></i>
    - name: arrow-down-round
      markup: |
        <i class="cf-icon cf-icon-arrow-down-round"></i>
    tags:
    - cf-icons
*/
/* NAVIGATION ICONS
 * -------------------------- */
.cf-icon-left:before {
  content: "\e000";
}
.cf-icon-left-round:before {
  content: "\e001";
}
.cf-icon-right:before {
  content: "\e002";
}
.cf-icon-right-round:before {
  content: "\e003";
}
.cf-icon-up:before {
  content: "\e004";
}
.cf-icon-up-round:before {
  content: "\e005";
}
.cf-icon-down:before {
  content: "\e006";
}
.cf-icon-down-round:before {
  content: "\e007";
}
.cf-icon-arrow-left:before {
  content: "\e008";
}
.cf-icon-arrow-left-round:before {
  content: "\e009";
}
.cf-icon-arrow-right:before {
  content: "\e010";
}
.cf-icon-arrow-right-round:before {
  content: "\e011";
}
.cf-icon-arrow-up:before {
  content: "\e012";
}
.cf-icon-arrow-up-round:before {
  content: "\e013";
}
.cf-icon-arrow-down:before {
  content: "\e014";
}
.cf-icon-arrow-down-round:before {
  content: "\e015";
}
/* STATUS ICONS
* -------------------------- */
.cf-icon-approved:before {
  content: "\e100";
}
.cf-icon-approved-round:before {
  content: "\e101";
}
.cf-icon-error:before {
  content: "\e102";
}
.cf-icon-error-round:before {
  content: "\e103";
}
.cf-icon-help:before {
  content: "\e104";
}
.cf-icon-help-round:before {
  content: "\e105";
}
.cf-icon-delete:before {
  content: "\e106";
}
.cf-icon-delete-round:before {
  content: "\e107";
}
.cf-icon-plus:before {
  content: "\e108";
}
.cf-icon-plus-round:before {
  content: "\e109";
}
.cf-icon-minus:before {
  content: "\e110";
}
.cf-icon-minus-round:before {
  content: "\e111";
}
.cf-icon-update:before {
  content: "\e112";
}
.cf-icon-update-round:before {
  content: "\e113";
}
/* SOCIAL ICONS
* -------------------------- */
.cf-icon-youtube:before {
  content: "\e200";
}
.cf-icon-youtube-round:before {
  content: "\e201";
}
.cf-icon-linkedin:before {
  content: "\e202";
}
.cf-icon-linkedin-round:before {
  content: "\e203";
}
.cf-icon-facebook:before {
  content: "\e204";
}
.cf-icon-facebook-round:before {
  content: "\e205";
}
.cf-icon-flickr:before {
  content: "\e206";
}
.cf-icon-flickr-round:before {
  content: "\e207";
}
.cf-icon-twitter:before {
  content: "\e208";
}
.cf-icon-twitter-round:before {
  content: "\e209";
}
.cf-icon-github:before {
  content: "\e210";
}
.cf-icon-github-round:before {
  content: "\e211";
}
.cf-icon-email-social:before {
  content: "\e212";
}
.cf-icon-email-social-round:before {
  content: "\e213";
}
/* COMMUNICATION ICONS
* -------------------------- */
.cf-icon-web:before {
  content: "\e300";
}
.cf-icon-web-round:before {
  content: "\e301";
}
.cf-icon-email:before {
  content: "\e302";
}
.cf-icon-email-round:before {
  content: "\e303";
}
.cf-icon-mail:before {
  content: "\e304";
}
.cf-icon-mail-round:before {
  content: "\e305";
}
.cf-icon-phone:before {
  content: "\e306";
}
.cf-icon-phone-round:before {
  content: "\e307";
}
.cf-icon-technology:before {
  content: "\e308";
}
.cf-icon-technology-round:before {
  content: "\e309";
}
.cf-icon-fax:before {
  content: "\e310";
}
.cf-icon-fax-round:before {
  content: "\e311";
}
/* DOCUMENT ICONS
* -------------------------- */
.cf-icon-document:before {
  content: "\e400";
}
.cf-icon-document-round:before {
  content: "\e401";
}
.cf-icon-pdf:before {
  content: "\e402";
}
.cf-icon-pdf-round:before {
  content: "\e403";
}
.cf-icon-upload:before {
  content: "\e404";
}
.cf-icon-upload-round:before {
  content: "\e405";
}
.cf-icon-download:before {
  content: "\e406";
}
.cf-icon-download-round:before {
  content: "\e407";
}
.cf-icon-copy:before {
  content: "\e408";
}
.cf-icon-copy-round:before {
  content: "\e409";
}
.cf-icon-edit:before {
  content: "\e410";
}
.cf-icon-edit-round:before {
  content: "\e411";
}
.cf-icon-attach:before {
  content: "\e412";
}
.cf-icon-attach-round:before {
  content: "\e413";
}
.cf-icon-print:before {
  content: "\e414";
}
.cf-icon-print-round:before {
  content: "\e415";
}
.cf-icon-save:before {
  content: "\e416";
}
.cf-icon-save-round:before {
  content: "\e417";
}
.cf-icon-appendix:before {
  content: "\e418";
}
.cf-icon-appendix-round:before {
  content: "\e419";
}
.cf-icon-supplement:before {
  content: "\e420";
}
.cf-icon-supplement-round:before {
  content: "\e421";
}
/* FINANCIAL PRODUCTS ICONS
* -------------------------- */
.cf-icon-bank-account:before {
  content: "\e500";
}
.cf-icon-bank-account-round:before {
  content: "\e501";
}
.cf-icon-credit-card:before {
  content: "\e502";
}
.cf-icon-credit-card-round:before {
  content: "\e503";
}
.cf-icon-loan:before {
  content: "\e504";
}
.cf-icon-loan-round:before {
  content: "\e505";
}
.cf-icon-money-transfer:before {
  content: "\e506";
}
.cf-icon-money-transfer-round:before {
  content: "\e507";
}
.cf-icon-mortgage:before {
  content: "\e508";
}
.cf-icon-mortgage-round:before {
  content: "\e509";
}
.cf-icon-debt-collection:before {
  content: "\e510";
}
.cf-icon-debt-collection-round:before {
  content: "\e511";
}
.cf-icon-credit-report:before {
  content: "\e512";
}
.cf-icon-credit-report-round:before {
  content: "\e513";
}
.cf-icon-money:before {
  content: "\e514";
}
.cf-icon-money-round:before {
  content: "\e515";
}
.cf-icon-quick-cash:before {
  content: "\e516";
}
.cf-icon-quick-cash-round:before {
  content: "\e517";
}
.cf-icon-contract:before {
  content: "\e518";
}
.cf-icon-contract-round:before {
  content: "\e519";
}
.cf-icon-complaint:before {
  content: "\e520";
}
.cf-icon-complaint-round:before {
  content: "\e521";
}
.cf-icon-getting-credit-card:before {
  content: "\e522";
}
.cf-icon-getting-credit-card-round:before {
  content: "\e523";
}
.cf-icon-buying-car:before {
  content: "\e524";
}
.cf-icon-buying-car-round:before {
  content: "\e525";
}
.cf-icon-paying-college:before {
  content: "\e526";
}
.cf-icon-paying-college-round:before {
  content: "\e527";
}
.cf-icon-owning-home:before {
  content: "\e528";
}
.cf-icon-owning-home-round:before {
  content: "\e529";
}
.cf-icon-debt:before {
  content: "\e530";
}
.cf-icon-debt-round:before {
  content: "\e531";
}
.cf-icon-building-credit:before {
  content: "\e532";
}
.cf-icon-building-credit-round:before {
  content: "\e533";
}
.cf-icon-prepaid-cards:before {
  content: "\e534";
}
.cf-icon-prepaid-cards-round:before {
  content: "\e535";
}
.cf-icon-payday-loan:before {
  content: "\e536";
}
.cf-icon-payday-loan-round:before {
  content: "\e537";
}
.cf-icon-retirement:before {
  content: "\e538";
}
.cf-icon-retirement-round:before {
  content: "\e539";
}
/* WEB ICONS
* -------------------------- */
.cf-icon-user:before {
  content: "\e600";
}
.cf-icon-user-round:before {
  content: "\e601";
}
.cf-icon-wifi:before {
  content: "\e602";
}
.cf-icon-wifi-round:before {
  content: "\e603";
}
.cf-icon-search:before {
  content: "\e604";
}
.cf-icon-search-round:before {
  content: "\e605";
}
.cf-icon-share:before {
  content: "\e606";
}
.cf-icon-share-round:before {
  content: "\e607";
}
.cf-icon-link:before {
  content: "\e608";
}
.cf-icon-link-round:before {
  content: "\e609";
}
.cf-icon-external-link:before {
  content: "\e610";
}
.cf-icon-external-link-round:before {
  content: "\e611";
}
.cf-icon-audio-mute:before {
  content: "\e612";
}
.cf-icon-audio-mute-round:before {
  content: "\e616";
}
.cf-icon-audio-low:before {
  content: "\e613";
}
.cf-icon-audio-low-round:before {
  content: "\e617";
}
.cf-icon-audio-medium:before {
  content: "\e614";
}
.cf-icon-audio-medium-round:before {
  content: "\e618";
}
.cf-icon-audio-max:before {
  content: "\e615";
}
.cf-icon-audio-max-round:before {
  content: "\e619";
}
.cf-icon-favorite:before {
  content: "\e620";
}
.cf-icon-favorite-round:before {
  content: "\e621";
}
.cf-icon-unfavorite:before {
  content: "\e622";
}
.cf-icon-unfavorite-round:before {
  content: "\e623";
}
.cf-icon-bookmark:before {
  content: "\e624";
}
.cf-icon-bookmark-round:before {
  content: "\e625";
}
.cf-icon-unbookmark:before {
  content: "\e626";
}
.cf-icon-unbookmark-round:before {
  content: "\e627";
}
.cf-icon-settings:before {
  content: "\e628";
}
.cf-icon-settings-round:before {
  content: "\e629";
}
.cf-icon-menu:before {
  content: "\e630";
}
.cf-icon-menu-round:before {
  content: "\e631";
}
.cf-icon-lock:before {
  content: "\e632";
}
.cf-icon-lock-round:before {
  content: "\e633";
}
.cf-icon-unlock:before {
  content: "\e634";
}
.cf-icon-unlock-round:before {
  content: "\e635";
}
.cf-icon-clock:before {
  content: "\e636";
}
.cf-icon-clock-round:before {
  content: "\e637";
}
.cf-icon-chart:before {
  content: "\e638";
}
.cf-icon-chart-round:before {
  content: "\e639";
}
.cf-icon-play:before {
  content: "\e640";
}
.cf-icon-play-round:before {
  content: "\e641";
}
/* topdoc
  name: EOF
  eof: true
*/
/* ==========================================================================
   Capital Framework
   Color Variables
   ========================================================================== */
