/* ==========================================================================
   Capital Framework
   Icons
   ========================================================================== */

/* topdoc
    name: LESS Variables
    family: cf-icons
    patterns:
    - name: CSS Prefix
      codenotes:
        - "@cf-css-prefix: cf-icon;"
    tags:
    - cf-icons
*/

@cf-css-prefix: cf-icon;

@font-face {
  font-family: 'CFPB Minicons';
  src: url('../fonts/cf-icons.eot');
  src: url('../fonts/cf-icons.eot?#iefix') format('embedded-opentype'),
    url('../fonts/cf-icons.woff') format('woff'),
    url('../fonts/cf-icons.ttf') format('truetype'),
    url('../fonts/cf-icons.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* topdoc
    name: Icon Class
    family: cf-icons
    patterns:
    - name: Use of Icon Class
      notes:
        - "The cf-css-prefix class applies the font family to an element."
    tags:
    - cf-icons
*/

.@{cf-css-prefix} {
  font-family: 'CFPB Minicons';
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}


/* topdoc
    name: Navigation Icons
    family: cf-icons
    patterns:
    - name: left
      markup: |
        <i class="cf-icon cf-icon-left"></i>
        <i class="cf-icon cf-icon-left-round"></i>
    - name: right
      markup: |
        <i class="cf-icon cf-icon-right"></i>
        <i class="cf-icon cf-icon-right-round"></i>
    - name: up
      markup: |
        <i class="cf-icon cf-icon-up"></i>
        <i class="cf-icon cf-icon-up-round"></i>
    - name: down
      markup: |
        <i class="cf-icon cf-icon-down"></i>
        <i class="cf-icon cf-icon-down-round"></i>
    - name: arrow-left
      markup: |
        <i class="cf-icon cf-icon-arrow-left"></i>
        <i class="cf-icon cf-icon-arrow-left-round"></i>
    - name: arrow-right
      markup: |
        <i class="cf-icon cf-icon-arrow-right"></i>
        <i class="cf-icon cf-icon-arrow-right-round"></i>
    - name: arrow-up
      markup: |
        <i class="cf-icon cf-icon-arrow-up"></i>
        <i class="cf-icon cf-icon-arrow-up-round"></i>
    - name: arrow-down
      markup: |
        <i class="cf-icon cf-icon-arrow-down"></i>
        <i class="cf-icon cf-icon-arrow-down-round"></i>
    tags:
    - cf-icons
*/

.@{cf-css-prefix}-left:before {
  content: "\e000";
}

.@{cf-css-prefix}-left-round:before {
  content: "\e001";
}

.@{cf-css-prefix}-right:before {
  content: "\e002";
}

.@{cf-css-prefix}-right-round:before {
  content: "\e003";
}

.@{cf-css-prefix}-up:before {
  content: "\e004";
}

.@{cf-css-prefix}-up-round:before {
  content: "\e005";
}

.@{cf-css-prefix}-down:before {
  content: "\e006";
}

.@{cf-css-prefix}-down-round:before {
  content: "\e007";
}

.@{cf-css-prefix}-arrow-left:before {
  content: "\e008";
}

.@{cf-css-prefix}-arrow-left-round:before {
  content: "\e009";
}

.@{cf-css-prefix}-arrow-right:before {
  content: "\e010";
}

.@{cf-css-prefix}-arrow-right-round:before {
  content: "\e011";
}

.@{cf-css-prefix}-arrow-up:before {
  content: "\e012";
}

.@{cf-css-prefix}-arrow-up-round:before {
  content: "\e013";
}

.@{cf-css-prefix}-arrow-down:before {
  content: "\e014";
}

.@{cf-css-prefix}-arrow-down-round:before {
  content: "\e015";
}

/* topdoc
    name: Status Icons
    family: cf-icons
    patterns:
    - name: approved
      markup: |
        <i class="cf-icon cf-icon-approved"></i>
        <i class="cf-icon cf-icon-approved-round"></i>
    - name: error
      markup: |
        <i class="cf-icon cf-icon-error"></i>
        <i class="cf-icon cf-icon-error-round"></i>
    - name: help
      markup: |
        <i class="cf-icon cf-icon-help"></i>
        <i class="cf-icon cf-icon-help-round"></i>
    - name: delete
      markup: |
        <i class="cf-icon cf-icon-delete"></i>
        <i class="cf-icon cf-icon-delete-round"></i>
    - name: plus
      markup: |
        <i class="cf-icon cf-icon-plus"></i>
        <i class="cf-icon cf-icon-plus-round"></i>
    - name: minus
      markup: |
        <i class="cf-icon cf-icon-minus"></i>
        <i class="cf-icon cf-icon-minus-round"></i>
    - name: update
      markup: |
        <i class="cf-icon cf-icon-update"></i>
        <i class="cf-icon cf-icon-update-round"></i>
    tags:
    - cf-icons
*/

.@{cf-css-prefix}-approved:before {
  content: "\e100";
}

.@{cf-css-prefix}-approved-round:before {
  content: "\e101";
}

.@{cf-css-prefix}-error:before {
  content: "\e102";
}

.@{cf-css-prefix}-error-round:before {
  content: "\e103";
}

.@{cf-css-prefix}-help:before {
  content: "\e104";
}

.@{cf-css-prefix}-help-round:before {
  content: "\e105";
}

.@{cf-css-prefix}-delete:before {
  content: "\e106";
}

.@{cf-css-prefix}-delete-round:before {
  content: "\e107";
}

.@{cf-css-prefix}-plus:before {
  content: "\e108";
}

.@{cf-css-prefix}-plus-round:before {
  content: "\e109";
}

.@{cf-css-prefix}-minus:before {
  content: "\e110";
}

.@{cf-css-prefix}-minus-round:before {
  content: "\e111";
}

.@{cf-css-prefix}-update:before {
  content: "\e112";
}

.@{cf-css-prefix}-update-round:before {
  content: "\e113";
}

/* topdoc
    name: Social Icons
    family: cf-icons
    patterns:
    - name: youtube
      markup: |
        <i class="cf-icon cf-icon-youtube"></i>
        <i class="cf-icon cf-icon-youtube-square"></i>
    - name: linkedin
      markup: |
        <i class="cf-icon cf-icon-linkedin"></i>
        <i class="cf-icon cf-icon-linkedin-square"></i>
    - name: facebook
      markup: |
        <i class="cf-icon cf-icon-facebook"></i>
        <i class="cf-icon cf-icon-facebook-square"></i>
    - name: flickr
      markup: |
        <i class="cf-icon cf-icon-flickr"></i>
        <i class="cf-icon cf-icon-flickr-square"></i>
    - name: plus
      markup: |
        <i class="cf-icon cf-icon-twitter"></i>
        <i class="cf-icon cf-icon-twitter-square"></i>
    - name: github
      markup: |
        <i class="cf-icon cf-icon-github"></i>
        <i class="cf-icon cf-icon-github-square"></i>
    - name: email-social
      markup: |
        <i class="cf-icon cf-icon-email-social"></i>
        <i class="cf-icon cf-icon-email-social-square"></i>
    tags:
    - cf-icons
*/

.@{cf-css-prefix}-youtube:before {
  content: "\e200";
}

.@{cf-css-prefix}-youtube-square:before {
  content: "\e201";
}

.@{cf-css-prefix}-linkedin:before {
  content: "\e202";
}

.@{cf-css-prefix}-linkedin-square:before {
  content: "\e203";
}

.@{cf-css-prefix}-facebook:before {
  content: "\e204";
}

.@{cf-css-prefix}-facebook-square:before {
  content: "\e205";
}

.@{cf-css-prefix}-flickr:before {
  content: "\e206";
}

.@{cf-css-prefix}-flickr-square:before {
  content: "\e207";
}

.@{cf-css-prefix}-twitter:before {
  content: "\e208";
}

.@{cf-css-prefix}-twitter-square:before {
  content: "\e209";
}

.@{cf-css-prefix}-github:before {
  content: "\e210";
}

.@{cf-css-prefix}-github-square:before {
  content: "\e211";
}

.@{cf-css-prefix}-email-social:before {
  content: "\e212";
}

.@{cf-css-prefix}-email-social-square:before {
  content: "\e213";
}

/* topdoc
    name: Communication Icons
    family: cf-icons
    patterns:
    - name: web
      markup: |
        <i class="cf-icon cf-icon-web"></i>
        <i class="cf-icon cf-icon-web-round"></i>
    - name: email
      markup: |
        <i class="cf-icon cf-icon-email"></i>
        <i class="cf-icon cf-icon-email-round"></i>
    - name: mail
      markup: |
        <i class="cf-icon cf-icon-mail"></i>
        <i class="cf-icon cf-icon-mail-round"></i>
    - name: phone
      markup: |
        <i class="cf-icon cf-icon-phone"></i>
        <i class="cf-icon cf-icon-phone-round"></i>
    - name: technology
      markup: |
        <i class="cf-icon cf-icon-technology"></i>
        <i class="cf-icon cf-icon-technology-round"></i>
    - name: fax
      markup: |
        <i class="cf-icon cf-icon-fax"></i>
        <i class="cf-icon cf-icon-fax-round"></i>
    tags:
    - cf-icons
*/

.@{cf-css-prefix}-web:before {
  content: "\e300";
}

.@{cf-css-prefix}-web-round:before {
  content: "\e301";
}

.@{cf-css-prefix}-email:before {
  content: "\e302";
}

.@{cf-css-prefix}-email-round:before {
  content: "\e303";
}

.@{cf-css-prefix}-mail:before {
  content: "\e304";
}

.@{cf-css-prefix}-mail-round:before {
  content: "\e305";
}

.@{cf-css-prefix}-phone:before {
  content: "\e306";
}

.@{cf-css-prefix}-phone-round:before {
  content: "\e307";
}

.@{cf-css-prefix}-technology:before {
  content: "\e308";
}

.@{cf-css-prefix}-technology-round:before {
  content: "\e309";
}

.@{cf-css-prefix}-fax:before {
  content: "\e310";
}

.@{cf-css-prefix}-fax-round:before {
  content: "\e311";
}

/* topdoc
    name: Document Icons
    family: cf-icons
    patterns:
    - name: document
      markup: |
        <i class="cf-icon cf-icon-document"></i>
        <i class="cf-icon cf-icon-document-round"></i>
    - name: pdf
      markup: |
        <i class="cf-icon cf-icon-pdf"></i>
        <i class="cf-icon cf-icon-pdf-round"></i>
    - name: upload
      markup: |
        <i class="cf-icon cf-icon-upload"></i>
        <i class="cf-icon cf-icon-upload-round"></i>
    - name: copy
      markup: |
        <i class="cf-icon cf-icon-copy"></i>
        <i class="cf-icon cf-icon-copy-round"></i>
    - name: edit
      markup: |
        <i class="cf-icon cf-icon-edit"></i>
        <i class="cf-icon cf-icon-edit-round"></i>
    - name: attach
      markup: |
        <i class="cf-icon cf-icon-attach"></i>
        <i class="cf-icon cf-icon-attach-round"></i>
    - name: print
      markup: |
        <i class="cf-icon cf-icon-print"></i>
        <i class="cf-icon cf-icon-print-round"></i>
    - name: save
      markup: |
        <i class="cf-icon cf-icon-save"></i>
        <i class="cf-icon cf-icon-save-round"></i>
    - name: appendix
      markup: |
        <i class="cf-icon cf-icon-appendix"></i>
        <i class="cf-icon cf-icon-appendix-round"></i>
    - name: supplement
      markup: |
        <i class="cf-icon cf-icon-supplement"></i>
        <i class="cf-icon cf-icon-supplement-round"></i>
    tags:
    - cf-icons
*/

.@{cf-css-prefix}-document:before {
  content: "\e400";
}

.@{cf-css-prefix}-document-round:before {
  content: "\e401";
}

.@{cf-css-prefix}-pdf:before {
  content: "\e402";
}

.@{cf-css-prefix}-pdf-round:before {
  content: "\e403";
}

.@{cf-css-prefix}-upload:before {
  content: "\e404";
}

.@{cf-css-prefix}-upload-round:before {
  content: "\e405";
}

.@{cf-css-prefix}-download:before {
  content: "\e406";
}

.@{cf-css-prefix}-download-round:before {
  content: "\e407";
}

.@{cf-css-prefix}-copy:before {
  content: "\e408";
}

.@{cf-css-prefix}-copy-round:before {
  content: "\e409";
}

.@{cf-css-prefix}-edit:before {
  content: "\e410";
}

.@{cf-css-prefix}-edit-round:before {
  content: "\e411";
}

.@{cf-css-prefix}-attach:before {
  content: "\e412";
}

.@{cf-css-prefix}-attach-round:before {
  content: "\e413";
}

.@{cf-css-prefix}-print:before {
  content: "\e414";
}

.@{cf-css-prefix}-print-round:before {
  content: "\e415";
}

.@{cf-css-prefix}-save:before {
  content: "\e416";
}

.@{cf-css-prefix}-save-round:before {
  content: "\e417";
}

.@{cf-css-prefix}-appendix:before {
  content: "\e418";
}

.@{cf-css-prefix}-appendix-round:before {
  content: "\e419";
}

.@{cf-css-prefix}-supplement:before {
  content: "\e420";
}

.@{cf-css-prefix}-supplement-round:before {
  content: "\e421";
}

/* topdoc
    name: Financial Product Icons
    family: cf-icons
    patterns:
    - name: bank-account
      markup: |
        <i class="cf-icon cf-icon-bank-account"></i>
        <i class="cf-icon cf-icon-bank-account-round"></i>
    - name: credit-card
      markup: |
        <i class="cf-icon cf-icon-credit-card"></i>
        <i class="cf-icon cf-icon-credit-card-round"></i>
    - name: loan
      markup: |
        <i class="cf-icon cf-icon-loan"></i>
        <i class="cf-icon cf-icon-loan-round"></i>
    - name: money-transfer
      markup: |
        <i class="cf-icon cf-icon-money-transfer"></i>
        <i class="cf-icon cf-icon-money-transfer-round"></i>
    - name: mortgage
      markup: |
        <i class="cf-icon cf-icon-mortgage"></i>
        <i class="cf-icon cf-icon-mortgage-round"></i>
    - name: debt-collection
      markup: |
        <i class="cf-icon cf-icon-debt-collection"></i>
        <i class="cf-icon cf-icon-debt-collection-round"></i>
    - name: credit-report
      markup: |
        <i class="cf-icon cf-icon-credit-report"></i>
        <i class="cf-icon cf-icon-credit-report-round"></i>
    - name: money
      markup: |
        <i class="cf-icon cf-icon-money"></i>
        <i class="cf-icon cf-icon-money-round"></i>
    - name: quick-cash
      markup: |
        <i class="cf-icon cf-icon-quick-cash"></i>
        <i class="cf-icon cf-icon-quick-cash-round"></i>
    - name: contract
      markup: |
        <i class="cf-icon cf-icon-contract"></i>
        <i class="cf-icon cf-icon-contract-round"></i>
    - name: comlaint
      markup: |
        <i class="cf-icon cf-icon-complaint"></i>
        <i class="cf-icon cf-icon-complaint-round"></i>
    - name: getting-credit-card
      markup: |
        <i class="cf-icon cf-icon-getting-credit-card"></i>
        <i class="cf-icon cf-icon-getting-credit-card-round"></i>
    - name: buying-car
      markup: |
        <i class="cf-icon cf-icon-buying-car"></i>
        <i class="cf-icon cf-icon-buying-car-round"></i>
    - name: mortgage
      markup: |
        <i class="cf-icon cf-icon-paying-college"></i>
        <i class="cf-icon cf-icon-paying-college-round"></i>
    - name: owning-home
      markup: |
        <i class="cf-icon cf-icon-owning-home"></i>
        <i class="cf-icon cf-icon-owning-home-round"></i>
    - name: debt
      markup: |
        <i class="cf-icon cf-icon-debt"></i>
        <i class="cf-icon cf-icon-debt-round"></i>
    - name: building-credit
      markup: |
        <i class="cf-icon cf-icon-building-credit"></i>
        <i class="cf-icon cf-icon-building-credit-round"></i>
    - name: prepaid-cards
      markup: |
        <i class="cf-icon cf-icon-prepaid-cards"></i>
        <i class="cf-icon cf-icon-prepaid-cards-round"></i>
    - name: payday-loan
      markup: |
        <i class="cf-icon cf-icon-payday-loan"></i>
        <i class="cf-icon cf-icon-payday-loan-round"></i>
    - name: retirement
      markup: |
        <i class="cf-icon cf-icon-retirement"></i>
        <i class="cf-icon cf-icon-retirement-round"></i>
    tags:
    - cf-icons
*/

.@{cf-css-prefix}-bank-account:before {
  content: "\e500";
}

.@{cf-css-prefix}-bank-account-round:before {
  content: "\e501";
}

.@{cf-css-prefix}-credit-card:before {
  content: "\e502";
}

.@{cf-css-prefix}-credit-card-round:before {
  content: "\e503";
}

.@{cf-css-prefix}-loan:before {
  content: "\e504";
}

.@{cf-css-prefix}-loan-round:before {
  content: "\e505";
}

.@{cf-css-prefix}-money-transfer:before {
  content: "\e506";
}

.@{cf-css-prefix}-money-transfer-round:before {
  content: "\e507";
}

.@{cf-css-prefix}-mortgage:before {
  content: "\e508";
}

.@{cf-css-prefix}-mortgage-round:before {
  content: "\e509";
}

.@{cf-css-prefix}-debt-collection:before {
  content: "\e510";
}

.@{cf-css-prefix}-debt-collection-round:before {
  content: "\e511";
}

.@{cf-css-prefix}-credit-report:before {
  content: "\e512";
}

.@{cf-css-prefix}-credit-report-round:before {
  content: "\e513";
}

.@{cf-css-prefix}-money:before {
  content: "\e514";
}

.@{cf-css-prefix}-money-round:before {
  content: "\e515";
}

.@{cf-css-prefix}-quick-cash:before {
  content: "\e516";
}

.@{cf-css-prefix}-quick-cash-round:before {
  content: "\e517";
}

.@{cf-css-prefix}-contract:before {
  content: "\e518";
}

.@{cf-css-prefix}-contract-round:before {
  content: "\e519";
}

.@{cf-css-prefix}-complaint:before {
  content: "\e520";
}

.@{cf-css-prefix}-complaint-round:before {
  content: "\e521";
}

.@{cf-css-prefix}-getting-credit-card:before {
  content: "\e522";
}

.@{cf-css-prefix}-getting-credit-card-round:before {
  content: "\e523";
}

.@{cf-css-prefix}-buying-car:before {
  content: "\e524";
}

.@{cf-css-prefix}-buying-car-round:before {
  content: "\e525";
}

.@{cf-css-prefix}-paying-college:before {
  content: "\e526";
}

.@{cf-css-prefix}-paying-college-round:before {
  content: "\e527";
}

.@{cf-css-prefix}-owning-home:before {
  content: "\e528";
}

.@{cf-css-prefix}-owning-home-round:before {
  content: "\e529";
}

.@{cf-css-prefix}-debt:before {
  content: "\e530";
}

.@{cf-css-prefix}-debt-round:before {
  content: "\e531";
}

.@{cf-css-prefix}-building-credit:before {
  content: "\e532";
}

.@{cf-css-prefix}-building-credit-round:before {
  content: "\e533";
}

.@{cf-css-prefix}-prepaid-cards:before {
  content: "\e534";
}

.@{cf-css-prefix}-prepaid-cards-round:before {
  content: "\e535";
}

.@{cf-css-prefix}-payday-loan:before {
  content: "\e536";
}

.@{cf-css-prefix}-payday-loan-round:before {
  content: "\e537";
}

.@{cf-css-prefix}-retirement:before {
  content: "\e538";
}

.@{cf-css-prefix}-retirement-round:before {
  content: "\e539";
}

/* topdoc
    name: Web Icons
    family: cf-icons
    patterns:
    - name: user
      markup: |
        <i class="cf-icon cf-icon-user"></i>
        <i class="cf-icon cf-icon-user-round"></i>
    - name: wifi
      markup: |
        <i class="cf-icon cf-icon-wifi"></i>
        <i class="cf-icon cf-icon-wifi-round"></i>
    - name: search
      markup: |
        <i class="cf-icon cf-icon-search"></i>
        <i class="cf-icon cf-icon-search-round"></i>
    - name: share
      markup: |
        <i class="cf-icon cf-icon-share"></i>
        <i class="cf-icon cf-icon-share-round"></i>
    - name: link
      markup: |
        <i class="cf-icon cf-icon-link"></i>
        <i class="cf-icon cf-icon-link-round"></i>
    - name: external-link
      markup: |
        <i class="cf-icon cf-icon-external-link"></i>
        <i class="cf-icon cf-icon-external-link-round"></i>
    - name: audio-mute
      markup: |
        <i class="cf-icon cf-icon-audio-mute"></i>
        <i class="cf-icon cf-icon-audio-mute-round"></i>
    - name: audio-low
      markup: |
        <i class="cf-icon cf-icon-audio-low"></i>
        <i class="cf-icon cf-icon-audio-low-round"></i>
    - name: audio-medium
      markup: |
        <i class="cf-icon cf-icon-audio-medium"></i>
        <i class="cf-icon cf-icon-audio-medium-round"></i>
    - name: audio-max
      markup: |
        <i class="cf-icon cf-icon-audio-max"></i>
        <i class="cf-icon cf-icon-audio-max-round"></i>
    - name: favorite
      markup: |
        <i class="cf-icon cf-icon-favorite"></i>
        <i class="cf-icon cf-icon-favorite-round"></i>
    - name: unfavorite
      markup: |
        <i class="cf-icon cf-icon-unfavorite"></i>
        <i class="cf-icon cf-icon-unfavorite-round"></i>
    - name: bookmark
      markup: |
        <i class="cf-icon cf-icon-bookmark"></i>
        <i class="cf-icon cf-icon-bookmark-round"></i>
    - name: unbookmark
      markup: |
        <i class="cf-icon cf-icon-unbookmark"></i>
        <i class="cf-icon cf-icon-unbookmark-round"></i>
    - name: settings
      markup: |
        <i class="cf-icon cf-icon-settings"></i>
        <i class="cf-icon cf-icon-settings-round"></i>
    - name: menu
      markup: |
        <i class="cf-icon cf-icon-menu"></i>
        <i class="cf-icon cf-icon-menu-round"></i>
    - name: lock
      markup: |
        <i class="cf-icon cf-icon-lock"></i>
        <i class="cf-icon cf-icon-lock-round"></i>
    - name: unlock
      markup: |
        <i class="cf-icon cf-icon-unlock"></i>
        <i class="cf-icon cf-icon-unlock-round"></i>
    - name: clock
      markup: |
        <i class="cf-icon cf-icon-clock"></i>
        <i class="cf-icon cf-icon-clock-round"></i>
    - name: chart
      markup: |
        <i class="cf-icon cf-icon-chart"></i>
        <i class="cf-icon cf-icon-chart-round"></i>
    - name: play
      markup: |
        <i class="cf-icon cf-icon-play"></i>
        <i class="cf-icon cf-icon-play-round"></i>
    tags:
    - cf-icons
*/

.@{cf-css-prefix}-user:before {
  content: "\e600";
}

.@{cf-css-prefix}-user-round:before {
  content: "\e601";
}

.@{cf-css-prefix}-wifi:before {
  content: "\e602";
}

.@{cf-css-prefix}-wifi-round:before {
  content: "\e603";
}

.@{cf-css-prefix}-search:before {
  content: "\e604";
}

.@{cf-css-prefix}-search-round:before {
  content: "\e605";
}

.@{cf-css-prefix}-share:before {
  content: "\e606";
}

.@{cf-css-prefix}-share-round:before {
  content: "\e607";
}

.@{cf-css-prefix}-link:before {
  content: "\e608";
}

.@{cf-css-prefix}-link-round:before {
  content: "\e609";
}

.@{cf-css-prefix}-external-link:before {
  content: "\e610";
}

.@{cf-css-prefix}-external-link-round:before {
  content: "\e611";
}

.@{cf-css-prefix}-audio-mute:before {
  content: "\e612";
}

.@{cf-css-prefix}-audio-mute-round:before {
  content: "\e616";
}

.@{cf-css-prefix}-audio-low:before {
  content: "\e613";
}

.@{cf-css-prefix}-audio-low-round:before {
  content: "\e617";
}

.@{cf-css-prefix}-audio-medium:before {
  content: "\e614";
}

.@{cf-css-prefix}-audio-medium-round:before {
  content: "\e618";
}

.@{cf-css-prefix}-audio-max:before {
  content: "\e615";
}

.@{cf-css-prefix}-audio-max-round:before {
  content: "\e619";
}

.@{cf-css-prefix}-favorite:before {
  content: "\e620";
}

.@{cf-css-prefix}-favorite-round:before {
  content: "\e621";
}

.@{cf-css-prefix}-unfavorite:before {
  content: "\e622";
}

.@{cf-css-prefix}-unfavorite-round:before {
  content: "\e623";
}

.@{cf-css-prefix}-bookmark:before {
  content: "\e624";
}

.@{cf-css-prefix}-bookmark-round:before {
  content: "\e625";
}

.@{cf-css-prefix}-unbookmark:before {
  content: "\e626";
}

.@{cf-css-prefix}-unbookmark-round:before {
  content: "\e627";
}

.@{cf-css-prefix}-settings:before {
  content: "\e628";
}

.@{cf-css-prefix}-settings-round:before {
  content: "\e629";
}

.@{cf-css-prefix}-menu:before {
  content: "\e630";
}

.@{cf-css-prefix}-menu-round:before {
  content: "\e631";
}

.@{cf-css-prefix}-lock:before {
  content: "\e632";
}

.@{cf-css-prefix}-lock-round:before {
  content: "\e633";
}

.@{cf-css-prefix}-unlock:before {
  content: "\e634";
}

.@{cf-css-prefix}-unlock-round:before {
  content: "\e635";
}

.@{cf-css-prefix}-clock:before {
  content: "\e636";
}

.@{cf-css-prefix}-clock-round:before {
  content: "\e637";
}

.@{cf-css-prefix}-chart:before {
  content: "\e638";
}

.@{cf-css-prefix}-chart-round:before {
  content: "\e639";
}

.@{cf-css-prefix}-play:before {
  content: "\e640";
}

.@{cf-css-prefix}-play-round:before {
  content: "\e641";
}

/* topdoc
  name: EOF
  eof: true
*/