/* ==========================================================================
   Capital Framework
   Icons
   ========================================================================== */

 @cf-css-prefix: cf-icon;

 @font-face {
  font-family: 'CFPB Minicons';
  src: url('../fonts/cf-icons.eot');
  src: url('../fonts/cf-icons.eot?#iefix') format('embedded-opentype'),
    url('../fonts/cf-icons.woff') format('woff'),
    url('../fonts/cf-icons.ttf') format('truetype'),
    url('../fonts/cf-icons.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

.@{cf-css-prefix} {
  display: inline-block;
  font-family: 'CFPB Minicons';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.@{cf-css-prefix}-left:before {
  content: "\e000";
}